.myCustomSpacerVert10_CSK_Module_Dashboard {
  min-height: 10px;
}

.myCustomSpacerVert20_CSK_Module_Dashboard {
  min-height: 20px;
}

.myCustomHeight150px_CSK_Module_Dashboard {
  height: 150px;
}

.myCustomFrameNoColor_CSK_Module_Dashboard {
  margin: 6px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  border-color: 007CC1;
  background-color: white;
}

.myCustomFrame_CSK_Module_Dashboard {
  margin: 6px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #007CC1;
  background-color: white;
}

.myCustomDataSlotFrame_CSK_Module_Dashboard {
  height: 150px;
  margin: 6px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #007CC1;
  background-color: white;
}

.myCustomScrollbar {
  margin: 2px;
  overflow-y: auto;
  height: 55px;
}

.myCustomScrollbar::-webkit-scrollbar {
  width: 3px;
}

.myCustomScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.myCustomScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.myCustomGauge_CSK_Module_Dashboard {
  height: 200px;
  margin-top: -35px;
}

.myCustomLabel_CSK_Module_Dashboard {
  font-size:30px;
  color: grey;
  margin-top: 10px;
}

.myCustomFrameLabel_CSK_Module_Dashboard {
  background: white;
  position:relative;
  top: calc(-1.2rem);
  left: calc(1rem);
  font-size: medium;
}

.myCustomPersistentDataMargin_CSK_Module_Dashboard {
  margin-top: -53px;
  margin-left: 130px;
}

.myCustomPersistentDataMarginBack_CSK_Module_Dashboard {
  margin-left: -127px;
}

.myCustomBorderLeft_CSK_Module_Dashboard {
  border-left: 1px solid lightgray;
}

.myCustomMarginFirstRow_CSK_Module_Dashboard {
  margin-top: -49px;
}

.myCustomBorderBottom_CSK_Module_Dashboard {
  border-bottom: 1px solid lightgray;
  margin-inline: calc(1rem);
}

.myCustomMarginTop7PX_CSK_Module_Dashboard {
  margin-top: 7px;
}

.myCustomMarginTop-13PX_CSK_Module_Dashboard {
  margin-top: -13px;
}

.myCustomBackground_CSK_Module_Dashboard {
}

.myCustomButton_CSK_Module_Dashboard {
  border-radius: 30px;
  padding: 11px;
}
